doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="description", content="TODO")
    meta(name="keywords", content="TODO")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="HandheldFriendly" content="true")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="stylesheet" type="text/css" href="/styles/style-mobile.css" )
    link(rel="stylesheet" type="text/css" href="/styles/style.css" media="screen and (min-width: 40.5em")
    script(src="/bower_components/modernizr/modernizr.js")

  body
    //
      [if lt IE 8]
        p(class="browsehappy") You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      [endif]
    header(role="banner")
      section